

/*
COLORS:
*/

$color-primary:#2c3acf;
$color-primary-light:#4a75e9;
$color-primary-dark: #2733b4;
$color-highlight:#ff914d;
$color-white: #fff;
$color-white-2: #f1f2f7;
$color-gray: #505369;
$color-gray-med: #8f979f;
$color-gray-dark:#24264b;
$color-gray-light: #f8faff;
$color-blue: #d7e4fa;

// GRID
$grid-width: 120rem;
// $gutter-vertical: 1rem;
// $gutter-horizontal: 1rem;