.svg-divider {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    &--1 {
        height: 1rem;
        top: -1rem;
        fill: $color-white;
        @include respond(phone){
            height: 0;
            top: 0;
        }
    }
    &--2 {
        height: 3rem;
        top: -3rem;
        fill: $color-blue-light;
        @include respond(phone){
            height: 2rem;
            top: -2rem;
        }
    }
    &--3 {
        height: 3rem;
        top: -3rem;
        fill: $color-white;
        @include respond(phone){
            height: 2rem;
            top: -2rem;
        }
    }
    &--footer {
        height: 2.5rem;
        bottom: -2.3rem;
        fill: $color-white;
        @include respond(phone){
            height: 1.2rem;
            bottom: -1rem;
        }
    }
}