.header {
    position: relative;
    height: 95vh;
    overflow: hidden;

    @include respond(tab-port) {
        padding-top: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    @include respond(phone) {
        height: 100vh;
        padding-top: 12rem;
    }

    // &__shade {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: url(../img/shade.svg);
    //     background-repeat: no-repeat;
    // }

    &__middle-2 {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transform: translateZ(0);
    }

    &__textbox {
        max-width: 55rem;
        width: fit-content;
        position: absolute;
        top: 30%;
        left: 10%;
        transform: translateZ(0);

        @include respond(tab-land) {
            width: 35vw;
            left: 8%;
        }
        @include respond(tab-port) {
            min-width: 80vw;
            position: static;
            top: auto;
            left: auto;
            bottom: 1rem;
            margin: 0 auto;
            transform: translate(0, 0);
        }

        &-content {
            color: $color-gray-dark;

            @include respond(tab-port) {
                margin: 0 auto;
            }
        }

        &-text {
            color: $color-gray;
            margin-top: 2rem;
            font-size: 2.2rem;
            line-height: 1.6;

            @include respond(tab-land) {
                width: 35vw;
            }
            @include respond(tab-port) {
                width: 100%;
                margin: 3rem auto 0;
                font-size: 2rem;
            }
            // @include respond(phone) {
            //     max-width: 80%;
            //     text-align: left;
            // }
        }
    }

    &__display {
        width: 42%;
        max-height: 80vh;
        position: absolute;
        bottom: 3.5%;
        right: 5%;

        @include respond(tab-land) {
            width: 55vw;
            right: 2%;
        }
        @include respond(tab-port) {
            max-height: 50vh;
            max-width: 90vw;
            width: auto;
            bottom: auto;
            margin: 0 auto;
            position: static;
        }   
    }

    &__back,
    &__fore {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 100% 100%;
    } 

    &__back {
        bottom: 0;
        background-size: 103%;
        background-image: url(../img/back.svg);

        @include respond(tab-land) {
            background-size: 110%;
        }

        @include respond(tab-port) {
            background-size: cover;
            height: 60vh;
        }   
    }
    
    &__fore {
        position: absolute;
        background-size: 14%;
        bottom: -11rem;
        height: 100%;  
        width: 100%;
        background-position : 50% 100%;
        background-image: url(../img/fore-bg.svg);
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges;          /* Firefox */
        image-rendering: -o-crisp-edges;            /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
        -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
        
        @include respond(tab-land) {
            bottom: -10rem;
        }
        @include respond(tab-port) {
            bottom: -8rem;
        }
        @include respond(phone) {
            background-size: 55rem;
        }
    }
}
