.brand {
    display: flex;
    align-items: center;
   justify-content: center;

    &__item {
        position: relative;

        @include respond(phone){
            width: 90% !important;
            margin: 0 auto;
            min-height: 0;
        }
    }
    &__wrapper {
        height: 5rem;
        margin: 1rem 2rem;
    }

    &__img {
        // object-fit: cover;
        // object-position: top;
        transition: transform 1s ease-out;
        border: 2px solid $color-blue-light;
        height: 100%;
        
        @include respond(phone){
            width: 30% !important;
        }

    }
    

}