.row {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 100%;
    max-width: $grid-width;
    width: 100%;
    margin: 0 auto;



    &:not(:last-child){
        margin-bottom: 6rem;
        @include respond(phone){
            margin-bottom: 2.5rem;
        }
    }

    &__img {
        // width: auto;
        // height: 40rem;
        width: 50%;
        height: auto;

        @include respond(phone){
            min-height: 35vh;
        }
    }
    
    &__text {
        width: 45%;
    }
}