#logo-w {
    &:hover .logo-w1 {fill: $color-blue;}
    &:hover .logo-w2 {stroke: $color-blue;}

    .logo-w1 {fill:#FFFFFF;}

    .logo-w2 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 18;
        stroke-miterlimit: 10;
    }
}

.arrow {
    fill:none;
    stroke:#000000;
    stroke-width:5;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    transform-origin: center;
    -webkit-animation: dig-left 1s linear infinite;
            animation: dig-left 1s linear infinite;
}
                              

#svg {
    &__hero {
        .st0 {fill:#23C479;}
        .branch {fill:none;stroke:#3A3E42;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .vase {fill:none;stroke:#23C479;stroke-width:3;stroke-miterlimit:10;}
        .st3 {fill:#F95860;}
        .st4 {fill:#fcfcfc;stroke:#DAEAFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .logo-bg,
        .st5 {fill:#2C3ACF;}
        .st6 {display:none;fill:#2C3ACF;}
        .st7 {fill:none;stroke:#23C479;stroke-miterlimit:10;}
        .st8 {fill:none;stroke:#2C3ACF;stroke-width:2;stroke-miterlimit:10;}
        .st9 {fill:none;stroke:#3A3E42;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .device {fill:#2c3acf;}
        .st11 {fill:#F9F1E8;}
        .st12 {fill:none;stroke:#23C479;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .st13 {fill:#F4F4F4;stroke:#3A3E42;stroke-width:3;stroke-miterlimit:10;}
        .st14 {fill:#EBEBEB;}
        .st15 {fill:#FFFFFF;stroke:#3A3E42;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .logo-line,
        .st16 {fill:#FFFFFF;}
        .st17 {fill:#3A3E42;}
        .st18 {fill:#FFFFFF;stroke:#3A3E42;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;}
        .st19 {fill:#FFFFFF;stroke:#3A3E42;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;}
        .st20 {fill:#FFFFFF;stroke:#2C3ACF;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;}
        .st21 {fill:#F4F4F4;stroke:#3A3E42;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .st22 {fill:none;stroke:#4051CC;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;}

        //svg animation
        //floating cloud
        .st4, 
        .st5, 
        .st16 {
            transform-origin: center;
            -webkit-animation: float 5s linear infinite;
                    animation: float 5s linear infinite;
        }

        //color-changing link
        .st7 {
            stroke: #23C479;
            -webkit-animation: flash 3.5s ease-in-out infinite;
                    animation: flash 3.5s ease-in-out infinite;
        }

        //dashing link
        .st8 {
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
            -webkit-animation: dash 3.5s linear infinite;
                    animation: dash 3.5s linear infinite;
        }

        //logo plant
        #plant-1,
        #plant-2 {
            transform-box: fill-box;
            transform-origin: 50% 80%;
            -webkit-animation: bloom 7s ease-out infinite;
                    animation: bloom 7s ease-out infinite;
        }
    }

    &__outage {
        .outage0 {fill:#f1f6ff;}
        .outage1 {fill:#6BCEC9;}
        .outage2 {fill:#6BCAD0;}
        .outage3 {fill:#2C3ACF;}
        .outage4 {fill:#FFFFFF;}
        .outage5 {fill:#8298A8;}
        .outage6, 
        .outage-tick {fill:#2c52cf;}
        .outage7 {fill:#313450;}
        .outage8 {fill:#A6B2C7;}
        .outage9 {fill:#FCB81F;}

        //animation
        .outage6{
            -webkit-animation: scale 3s linear infinite;
                    animation: scale 3s linear infinite;
            transform-box: fill-box;
            transform-origin: bottom;
        }

        #drop {
            -webkit-animation: float 1s linear infinite;
                    animation: float 1s linear infinite;
        }

        #mouth {
            transform-origin: center;
            transform-box: fill-box;
            -webkit-animation: scale 3s ease-out infinite;
                    animation: scale 3s ease-out infinite;
        }

        #slash {
            -webkit-animation: sparkle 1s ease-in-out infinite;
                    animation: sparkle 1s ease-in-out infinite;
            transform-origin: center;
        }
    }

    &__mining {
        .mining0 {fill:#DAECFD;}
        .mining1 {fill:#C1D7E8;}
        .mining2 {fill:#FFB51F;}
        .mining3 {fill:#EC6D00;}
        .mining4 {fill:#FCB81F;}
        .mining5 {enable-background:new;}
        .mining6 {fill:#FFFFFF;}
        .mining7 {fill:#3A3E42;}
        .mining8 {fill:#4051CC;}
        .mining9 {fill:#F4F4F4;}
        .mining10 {fill:#2C3ACF;}
        .mining11 {fill:#A6B2C7;}

        //animation
        #top {
            -webkit-animation: dig-left 2s linear infinite;
                    animation: dig-left 2s linear infinite;
        }

        #man-large {
            -webkit-animation: rotate-left 2s ease-in-out infinite;
                    animation: rotate-left 2s ease-in-out infinite;
            transform: translate(-19px, 5px);
            transform-origin: 90% 95%;
        }

        #coins path {
            -webkit-animation: sparkle 2s ease-in-out infinite;
                    animation: sparkle 2s ease-in-out infinite;
        }
    }

    &__monitor {
        .monitor0 {display:none;}
        .monitor1 {display:inline;}
        .monitor2 {fill:#3D52BC;}
        .monitor3 {fill:#6BCAD0;}
        .monitor4 {fill:#2C3ACF;}
        .monitor5 {fill:#FFFFFF;}
        .monitor6 {fill:#A6B2C7;}
        .monitor7 {fill:#3A3E42;}
        .monitor8 {fill:#F4F4F4;}
        .monitor9 {fill:#4051CC;}
        .monitor10 {
            opacity:0.28; enable-background:new;
        }
        .monitor11 {fill:#68B9FC;}        

        //animation
        #monitor-top {
            transform-origin: 0% 80%;
            transform-box: fill-box;
            -webkit-animation: monitor 3s linear infinite;
                    animation: monitor 3s linear infinite;
        }

        #glass,
        #glass-small {
            transform-origin: 70% 50%;
            transform-box: fill-box;
            -webkit-animation: glass 6.1s ease-in-out infinite;
                    animation: glass 6.1s ease-in-out infinite;
        }
        
        #glass-small {
            -webkit-animation-delay: 0.5s;
                    animation-delay: 0.5s;
        }
    }
}