//animation for hero image
@keyframes flash {
    0%        {stroke: #f95860;}
    20%       {stroke: #2C3ACF;}
    30%, 100% {
        stroke: #23C479;
        stroke-width: 2;
    }
}
  
@keyframes float {
    0%   {transform: translateY(0) scale(1)}
    25%  {transform: translateY(-2px)}
    50%  {transform: scale(1.005);}
    75%  {transform: translateY(8px);}
    100% {transform: translateY(0)}
}
          
@keyframes dash {
    100% {
        stroke-dasharray: 300;
        stroke-dashoffset: 90;
    }
}
  
//animation for section Why Massbit
@keyframes dig-left {
    30% {
        transform-origin: 55% 70%;
        transform : translate(3px,5px) rotate(-4deg);
    }
    70% {
        transform : rotate(-2deg);
    }
} 


@keyframes rotate-left {
    30%, 72%  {
        transform-origin: 100% 100%;
        transform : rotate(-1deg);
    }
}

@keyframes sparkle {
    30%, 35%  {opacity: 0.6;}
    45%  {opacity: 0.9;}
    
}