//animation for hero image
@keyframes flash {
    0%        {stroke: #f95860;}
    20%       {stroke: #2C3ACF;}
    30%, 100% {
        stroke: #23C479;
        stroke-width: 2;
    }
}
  
@keyframes float {
    0%   {transform: translateY(0) scale(1)}
    25%  {transform: translateY(-2px)}
    50%  {transform: scale(1.005);}
    75%  {transform: translateY(8px);}
    100% {transform: translateY(0)}
}
          
@keyframes dash {
    100% {
        stroke-dasharray: 300;
        stroke-dashoffset: 90;
    }
}

  
//Animation for section Why Massbit
//1-outage animation
@keyframes flash-green {
    0% {fill: #28E0B0;}
    49% {fill: #82e4be;}
    50% {fill: #7be2ad;
    }
    99% {fill: #99fdca;
    }
    100% {fill: #28E0B0;
    }
}

//cry animation
@keyframes scale {
    0%, 60%, 70%, 80%, 90%, 100% {transform :scale(1)}
    20%, 50% {transform :scale(0.2);} 
    55%, 65%, 75%, 85%, 95% {transform :scale(1.2)}
}

//2- Data-mining animation
//data-mining animation: top
@keyframes dig-left {
    30% {
        transform-origin: 55% 70%;
        transform : translate(3px,10px) rotate(-3deg);
    }
    70% {
        transform : translate(2px,2px) rotate(-2deg);
    }
} 

//data-mining animation: body
@keyframes rotate-left {
    0%, 100% {transform: translate(-19px,5px);}
    20%, 70% {
        transform : translate(-19px,5px) rotate(-2deg);
    }
}

//data-mining animation: coin
@keyframes sparkle {
    30%, 35%  {opacity: 0.6;}
    45%  {opacity: 0.9;}
    
}

//3- Monitor animation
@keyframes monitor {
    0%, 10%, 100% {transform: translateY(0px) rotate(-1deg);}
    40%, 70%  {
        transform : translateY(-10px) rotate(6deg);
    }
}

@keyframes glass {
    0%, 80%, 100% {transform :scale(0.9)}
    65%, 95% {transform :scale(1.1)}
}

