#svg {
    &__hero {
        //svg animation
        //floating cloud
        .st4, 
        .st5, 
        .st16 {
            transform-origin: center;
            animation: float 5s linear infinite;
        }

        //color-changing link
        .st7 {
            stroke: #23C479;
            animation: flash 3.5s ease-in-out infinite;
        }

        //dashing link
        .st8 {
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
            animation: dash 3.5s linear infinite;
        }
    }

    &__outage {
        // #tick{
        //     animation: flashing-colors 1s linear infinite;
        // }
        .outage6{
            animation: flash-green 1s linear infinite;
        }
        #drop {
            animation: float 1s linear infinite;
        }
        #mouth {
            transform-origin: center;
            transform-box: fill-box;
            animation: scale 5s ease-out infinite;
        }
    }

    &__mining {
            #top {
                animation: dig-left 2s linear infinite;
            }
            #man-large {
                animation: rotate-left 2s ease-in-out infinite;
                transform: translate(-19px, 5px);
                transform-origin: 90% 95%;
            }
            #coins path {
                animation: sparkle 1.5s ease-in-out infinite;
            }
    }
}