#svg{
    &__hero {
        //svg animation
        //floating cloud
        .st4, 
        .st5, 
        .st16 {
            transform-origin: center;
            animation: float 5s linear infinite;
        }

        //color-changing link
        .st7 {
            stroke: #23C479;
            animation: flash 3.5s ease-in-out infinite;
        }

        //dashing link
        .st8 {
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
            animation: dash 3.5s linear infinite;
        }
    }
    &__mining {
        #top {
            transform-origin: right bottom;
        }
    }

}