.svg-divider {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    //z-index: -1; 
    &--1 {
        height: 1rem;
        top: -1rem;
        fill: $color-white;
    }
    &--2 {
        height: 3rem;
        top: -3rem;
        fill: $color-blue-light;
    }
    &--3 {
        height: 3rem;
        top: -3rem;
        fill: $color-white;
    }
    &--footer {
        height: 2.5rem;
        bottom: -2.3rem;
        fill: $color-white;
    }
}


#svg {
    &__hero {
        //svg animation
        //floating cloud
        .st4, 
        .st5, 
        .st16 {
            transform-origin: center;
            animation: float 5s linear infinite;
        }

        //color-changing link
        .st7 {
            stroke: #23C479;
            animation: flash 3.5s ease-in-out infinite;
        }

        //dashing link
        .st8 {
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
            animation: dash 3.5s linear infinite;
        }
    }

    &__outage {
        // #tick{
        //     animation: flashing-colors 1s linear infinite;
        // }
        .outage6{
            animation: flash-green 1s linear infinite;
        }
        #drop {
            animation: float 1s linear infinite;
        }
        #mouth {
            transform-origin: center;
            transform-box: fill-box;
            animation: scale 5s ease-out infinite;
        }
    }

    &__mining {
        #top {
            animation: dig-left 2s linear infinite;
        }
        #man-large {
            animation: rotate-left 2s ease-in-out infinite;
            transform: translate(-19px, 5px);
            transform-origin: 90% 95%;
        }
        #coins path {
            animation: sparkle 1.5s ease-in-out infinite;
        }
    }

    &__monitor {
        #monitor-top {
            transform-origin: 00% 80%;
            transform-box: fill-box;
            animation: monitor 3s linear infinite;
        }
        #glass,
        #glass-small {
            transform-origin: center;
            transform-box: fill-box;
            animation: glass 1.5s ease-in-out infinite;
        }
        #glass-small {
            animation-delay: 0.5s;
        }
        
    }
}