.section-about,
.section-platform,
.section-products,
.section-team,
.section-funding,
.section-experience {
    position: relative;
    padding: 6rem 15rem;
    @include respond(tab-land) {
        padding: 6rem 15rem;
    }
    @include respond(tab-port) {
        padding: 6rem 10rem;
    }
    @include respond(phone) {
        padding: 4rem 4rem;
    }

    .row {
        position: relative;
    }
    
    .btn {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        margin-top: 1.6rem;
    }
}

.section-products,
.section-experience {
    background-color: $color-blue-light;
}

.section-funding {
    padding-bottom: 10rem;
}

.platform-img {
    width: 90%;
    padding: 4rem;
    text-align: center;
}

.decor-left {
    width: 8vw;
    position: absolute;
    bottom: -15rem;
    left: -1rem;
    transform-origin: bottom left;
    transition: all 0.5s ease-out;
    transform: rotate(0);
}

.decor-right {
    z-index: 10;
    width: 50vw;
    position: absolute;
    bottom: -15rem;
    right: -35rem;
    transform-origin: bottom right;
    transition: all 0.5s ease-out;
    @include respond(tab-land){bottom: -15rem;}
}

// .decor-footer {
//     width: 20rem;
//     position: absolute;
//     bottom: -1rem;
//     right: 2rem;
//     transform-origin: bottom right;
//     transition: all 0.5s ease-out;
//     @include respond(tab-land){bottom: -15rem;}
// }


