.section-about,
.section-platform,
.section-products,
.section-team,
.section-funding,
.section-experience {
    position: relative;
    padding: 6rem 15rem;
    @include respond(tab-land) {
        padding: 6rem 15rem;
    }
    @include respond(tab-port) {
        padding: 6rem 10rem;
    }
    @include respond(phone) {
        padding: 4rem;
    }

    .row {
        position: relative;
    }
    
    .btn {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        margin-top: 1.6rem;
    }
}

.section-platform,
.section-experience {
    background-color: $color-blue-light;
}

.section-funding,
.section-experience {
    padding-bottom: 10rem;
    @include respond(tab-port) {
        padding-bottom: 6rem;
    }
    @include respond(phone) {
        padding-bottom: 3rem;
    }
}

.platform-wrapper,
.platform-video {
    width: 100%;
    margin: 0 auto;
}

.platform-video {
    @include respond(phone) {
        display: none;
    }
}

.platform-video__content,
.platform-img {
    width: 100%;
    padding: 2rem;
    text-align: center;
    @include respond(phone) {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

#platform-mobile {
    display: none;
    @include respond(phone) {
        display: block;
    }
}

.decor-right {
    z-index: 10;
    width: 40vw;
    position: absolute;
    bottom: -2rem;
    right: 0rem;
    transform-origin: bottom right;
    transition: all 0.5s ease-out;
    @include respond(phone){
        width: 90vw;
        bottom: 0rem;
        right: 5vw;
    }
}